.form-card{
    max-width:400px;
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.form-card h2{
    margin-bottom:20px;
    text-align:center;
}

.form-card label{
    display:block;
    margin-top:12px;
    font-weight:500;
}

.form-card input,
.form-card select{
    width:100%;
    padding:10px;
    margin-top:6px;
    border-radius:8px;
    border:1px solid #ddd;
}

.form-card button{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#6366f1;
    color:white;
    font-weight:600;
    cursor:pointer;
}
