.main h1{
    margin-bottom:20px;
}

.btn-add{
    display:inline-block;
    margin-bottom:15px;
    padding:10px 15px;
    background:#6366f1;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.user-table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:12px;
    overflow:hidden;
}

.user-table th,
.user-table td{
    padding:14px;
    text-align:left;
}

.user-table thead{
    background:#e0e7ff;
}

.user-table tr:nth-child(even){
    background:#f9fafb;
}

.btn-delete{
    color:#ef4444;
    text-decoration:none;
    font-weight:600;
}
