{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Attendia Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/pi.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="sidebar">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Attendia" class="logo-img">
        <span class="logo-text">Attendia</span>
        <i class='bx bx-chevron-right toggle' id="toggle"></i>
    </div>

    <ul class="nav-list">
        <li><a href="{% url 'dashboard' %}"><i class='bx bx-home'></i><span class="links-name">Dashboard</span></a></li>
        <li><a href="{% url 'ajouter_etudiant' %}"><i class='bx bx-user-plus'></i><span class="links-name">Gestion des étudiants</span></a></li>
        {% if request.session.role == 'SUPER_ADMIN' %}
        <li><a href="{% url 'gestion_utilisateurs' %}"><i class='bx bx-user'></i><span class="links-name">Gestion des utilisateurs</span></a></li>
        {% endif %}
        <li><a href="{% url 'login' %}"><i class='bx bx-log-out'></i><span class="links-name">Logout</span></a></li>
    </ul>
</div>

<div class="main">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/pi.js' %}"></script>
</body>
</html>
