{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Attendia | Admin Login</title>
  <!-- Lien vers le CSS via Django static -->
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="icon" href="{% static 'images/logo.png' %}">
</head>
<body>

<div class="login-page">

  <!-- Left -->
  <div class="left">
    <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo">
    <h1>Attendia</h1>
    <p>Admin Dashboard Access</p>
  </div>

  <!-- Right -->
  <div class="right">
    <div class="login-box">
      <h2>Hello!</h2>
      <p>Sign in as Admin</p>

      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password" placeholder="Mot de passe" required>

        <button type="submit">Login</button>
      </form>

      <span class="error" id="errorMsg"></span>
    </div>
  </div>

</div>

<!-- Lien vers le JS via Django static -->

</body>
</html>
